trysource "../nvidia/drivers/video/tegra/nvmap/Kconfig.nvidia"

if ARCH_TEGRA

config TEGRA_GR_VIRTUALIZATION
	bool "Tegra graphics virtualization support"
	default n
	depends on TEGRA_HV_MANAGER
	help
	  Adds Tegra graphics virtualization (host and gpu) support to client
	  drivers.

endif

trysource "../nvidia/drivers/video/tegra/Kconfig.nvidia"

config TEGRA_DC
	tristate "Tegra Display Contoller"
	depends on (TEGRA_GRHOST || TEGRA_HOST1X) && I2C
	select BACKLIGHT_CLASS_DEVICE
	select FB_MODE_HELPERS
	help
	 Tegra display controller support.
	 Enable this to access the Tegra display controller using either framebuffer
	 console interface and a proprietary dc-ext interface or with ADF.
