/*
 * tegra186-quill-kenrel-4.9.dtsi: Quill dts overlay for kernel 4.9 bringup
 *
 * Copyright (c) 2016-2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/ {

	chosen {
		bootargs ="console=ttyS0,115200 androidboot.selinux=permissive androidboot.presilicon=true";
	};

	firmware {
		android {
			hardware = "quill-k49";
		};
	};

	aconnect@2a41000 {
		compatible = "nvidia,tegra210-aconnect";
		clocks = <&tegra_car TEGRA186_CLK_APE>,
			 <&tegra_car TEGRA186_CLK_APB2APE>;
		clock-names = "ape", "apb2ape";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x02a41000 0x0 0x02a41000 0x4000>;
		status = "okay";

		agic: agic@2a41000 {
			compatible = "nvidia,tegra210-agic";
			#interrupt-cells = <3>;
			interrupt-controller;
			reg = <0x02a41000 0x1000>,
			      <0x02a42000 0x2000>;
			interrupts = <GIC_SPI 145 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>;
			clocks = <&tegra_car TEGRA186_CLK_APE>;
			clock-names = "clk";
			status = "okay";
		};

	};

	reserved-memory {
		generic_carveout {
			size = <0x0 0x30000000>; /* 1GB generic carveout */
			status = "okay";
		};

		vpr-carveout {
			alloc-ranges = <0x0 0x0 0x2 0x00000000>;
			status = "okay";
		};

		shared-dma-carveout {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0x0 0x0 0x1 0x0>;
			status = "okay";
			size = <0x0 0x10000000>; /* 256MB */
			linux,cma-default;
		};
	};

	tegra-carveouts {
		status = "okay";
	};

	miscreg@00100000 {
		compatible = "nvidia,tegra186-miscreg";
		reg = <0x0 0x00100000 0x0 0xf000>, /* Chipid */
			<0x0 0x0010f000 0x0 0x1000>; /* Straps */
	};

	sdhci@3440000 {
		status = "disabled";
	};

	sdhci@3460000 {
		/delete-property/ nvidia,enable-hwcq;
	};

	pinctrl@3520000 {
		status = "disabled";
	};

	mailbox@3538000 {
		status = "disabled";
	};

	/* FIXME: move to soc level */
	xhci@3530000 {
		compatible = "nvidia,tegra186-xhci";
		reg = <0x0 0x03530000 0x0 0x8000>,
			<0x0 0x03538000 0x0 0x1000>;
		interrupts = <0 163 0x4>, <0 164 0x4>, <0 167 0x4>;
		clocks = <&tegra_car TEGRA186_CLK_XUSB_HOST>,
			<&tegra_car TEGRA186_CLK_XUSB_FALCON>,
			<&tegra_car TEGRA186_CLK_XUSB_SS>,
			<&tegra_car TEGRA186_CLK_XUSB_CORE_SS>,
			<&tegra_car TEGRA186_CLK_CLK_M>, /* FIXME: HS souce */
			<&tegra_car TEGRA186_CLK_XUSB_FS>,
			<&tegra_car TEGRA186_CLK_PLLU>,
			<&tegra_car TEGRA186_CLK_CLK_M>,
			<&tegra_car TEGRA186_CLK_PLLE>;
		clock-names = "xusb_host", "xusb_falcon_src", "xusb_ss", "xusb_ss_src", "xusb_hs_src",
			"xusb_fs_src", "pll_u_480m", "clk_m", "pll_e";

		/delete-property/ mboxes;
		/delete-property/ mbox-names;
	};

	xusb_padctl: xusb_padctl@3520000 {
		compatible = "nvidia,tegra18x-xusb-padctl";
		reg = <0x0 0x3520000 0x0 0x1000>, <0x0 0x03540000 0x0 0x1000>;
		reg-names = "padctl", "ao";
		resets = <&tegra_car TEGRA186_RESET_XUSB_PADCTL>;
		reset-names = "padctl";

		status = "okay";

		prod-settings {
			#prod-cells = <4>;
			mask-one-style;
			prod_c_bias {
				prod = <0 0x284 0x00000038 0x38>;
			};
			prod_c_hsic0 {
				prod = <0 0x344 0x0000007f 0x2d>;
			};
			prod_c_utmi0 {
				prod = <0 0x88 0x01fe0000 0xcc0000>;
			};
			prod_c_utmi1 {
				prod = <0 0xc8 0x01fe0000 0xcc0000>;
			};
			prod_c_utmi2 {
				prod = <0 0x108 0x01fe0000 0xcc0000>;
			};
		};

		pads {
			usb2 {
				clocks = <&tegra_car TEGRA186_CLK_USB2_TRK>;
				clock-names = "trk";
				lanes {
					usb2-0 {
						nvidia,function = "xusb";
						status = "okay";
						#phy-cells = <0>;
					};
					usb2-1 {
						nvidia,function = "xusb";
						status = "okay";
						#phy-cells = <0>;
					};
					usb2-2 {
						nvidia,function = "xusb";
						status = "okay";
						#phy-cells = <0>;
					};
				};
			};
			usb3 {
				lanes {
					usb3-0 {
						nvidia,function = "xusb";
						status = "okay";
						#phy-cells = <0>;
					};
					usb3-1 {
						nvidia,function = "xusb";
						status = "okay";
						#phy-cells = <0>;
					};
					usb3-2 {
						nvidia,function = "xusb";
						status = "okay";
						#phy-cells = <0>;
					};
				};
			};
		};

		ports {
			usb2-0 {
				status = "okay";
				mode = "otg";
			};
			usb2-1 {
				status = "okay";
				mode = "host";
				vbus-supply = <&vdd_usb1_5v>;
			};
			usb2-2 {
				status = "disabled";
				mode = "host";
				vbus-supply = <&vdd_usb2_5v>;
			};
			usb3-0 {
				nvidia,usb2-companion = <2>;
				status = "disabled";
			};
			usb3-1 {
				nvidia,usb2-companion = <1>;
				status = "okay";
			};
			usb3-2 {
				status = "disabled";
			};
		};
	};

	xudc@3550000 {
		nvidia,xusb-padctl = <&xusb_padctl>;
		phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-0}>;
		phy-names = "usb2";
	};

	xhci@3530000 {
		nvidia,xusb-padctl = <&xusb_padctl>;
		phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
			<&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-1}>;
		phy-names = "usb2-1", "usb3-1";
	};

	plugin-manager {
		fragment-e3325-xusb {
			enable-override-on-all-matches;
			ids = "<3310-1000-500";
			odm-data = "enable-xusb-on-uphy-lane0";
			override@0 {
				target = <&xusb_padctl>;
				_overlay_ {
					ports {
						usb2-2 {
							status = "okay";
						};
						usb3-0 {
							status = "okay";
						};
					};
				};
			};

			override@1 {
				target = <&{/xhci@3530000}>;
				_overlay_ {
					phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
						<&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-2}>,
						<&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-0}>,
						<&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-1}>;
					phy-names = "usb2-1", "usb2-2", "usb3-0", "usb3-1";
				};
			};
		};

		fragment-500-xusb-config {
			ids = ">=3310-1000-500";
			override@0 {
				target = <&{/xhci@3530000}>;
				_overlay_ {
					phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
						<&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-0}>;
					phy-names = "usb2-1", "usb3-0";
				};
			};
			override@1 {
				target = <&xusb_padctl>;
				_overlay_ {
					ports {
						usb3-1 {
							status = "disabled";
						};
						usb3-0 {
							nvidia,usb2-companion = <1>;
							status = "okay";
						};
					};
				};
			};
		};

		fragment-500-e3325-pcie {
			enable-override-on-all-matches;
			ids = ">=3310-1000-500";
			odm-data = "enable-pcie-on-uphy-lane0";
			override@0 {
				target = <&{/xhci@3530000}>;
				_overlay_ {
					phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>;
					phy-names = "usb2-1";
				};
			};
		};
	};
};
