/*
 * tegra186-quill-kenrel-4.9.dtsi: Quill dts overlay for kernel 4.9 bringup
 *
 * Copyright (c) 2016-2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/ {

	chosen {
		bootargs ="console=ttyS0,115200 androidboot.selinux=permissive androidboot.presilicon=true firmware_class.path=/etc/firmware";
	};

	firmware {
		android {
			hardware = "quill-k49";
		};
	};

	hda@3510000 {
		status = "disabled";
       };

	aconnect@2a41000 {
		compatible = "nvidia,tegra210-aconnect";
		clocks = <&tegra_car TEGRA186_CLK_APE>,
			 <&tegra_car TEGRA186_CLK_APB2APE>;
		clock-names = "ape", "apb2ape";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x02a41000 0x0 0x02a41000 0x4000>;
		status = "okay";

		agic: agic@2a41000 {
			compatible = "nvidia,tegra210-agic";
			#interrupt-cells = <3>;
			interrupt-controller;
			reg = <0x02a41000 0x1000>,
			      <0x02a42000 0x2000>;
			interrupts = <GIC_SPI 145 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>;
			clocks = <&tegra_car TEGRA186_CLK_APE>;
			clock-names = "clk";
			status = "okay";
		};

	};

	sdhci@3460000 {
		/delete-property/ nvidia,enable-hwcq;
	};
};
