config TOUCHSCREEN_NVIDIA_ATMEL_MXT
        tristate "NVIDIA Atmel mXT I2C Touchscreen"
        depends on I2C
        select FW_LOADER
        help
          Say Y here if you have Atmel mXT series I2C touchscreen,
          such as AT42QT602240/ATMXT224, connected to your system.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called atmel_mxt_ts.

          It is Nvidia Atmel driver which is impoved based on
          atmel k3.14 driver.
