config PCIE_TEGRA_DW_HOST
	tristate "Nvidia Tegra PCIe host controller (T19x)"
	depends on PCI
	depends on ARCH_TEGRA
	select PCIEPORTBUS
	depends on PCI_MSI_IRQ_DOMAIN
	select PCIE_DW_HOST

config PCIE_TEGRA_DW_DMA_TEST
	bool "DMA test framework"
	depends on PCIE_TEGRA_DW_HOST
	help
	 Say Y here if you want to enable test framework for the DMA which is
	 integrated into root port. Please note that this framework should be
	 used only for testing purposes and enabling it would have security
	 implications. If you are not sure, select NO.
