/*
 * Top level DTS file for CVM:P2888-0001 and CVB:E3366-1199
 *
 * Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "common/tegra194-p2888-0000-a00.dtsi"
#include "common/tegra194-e3366-1199-a00.dtsi"
#include "common/tegra194-power-tree-p2888-0001-e3366-1199.dtsi"
/ {
	nvidia,dtsfilename = __FILE__;

	arm64_ras {
		status = "okay";
	};

	carmel_ras {
		status = "okay";
	};

	cbbnocaxi@2300000 {
		status = "okay";
	};
};

/* Last include for status overrides */
#include "tegra194-p2888-0001-e3366-1199-minimal.dtsi"

