config MODS
	tristate "NVIDIA MODS driver"
	default n
	---help---
	The NVIDIA MODS driver gives user space software direct access to
	hardware.  The NVIDIA Diagnostic Software uses this to test hardware.
	This driver should normally be disabled in all production builds.

	Say Y here to compile the NVIDIA MODS driver into the kernel or say M
	to compile it as a module.

	If unsure, say N here.

config SAF775x_HWDEP
        tristate "SAF775x HWDEP Driver"
        default n
        depends on I2C || SPI

config SAF36XX_HWDEP
        tristate "SAF36XX HWDEP Driver"
        default n
        depends on SPI && SPI_MASTER
        help
          Provides interfaces for flashing SAF36XX

config SENSORS_NCT1008
	tristate "ON Semiconductor Temperature Sensor"
	default n
	depends on I2C
	help
	 Say yes here if you wish to include the ON Semiconductor
	 NCT1008 Temperature sensor.

config THERM_EST
	bool "Thermal estimator driver"
	default n
	---help---
	Thermal driver which estimates temperature based of other sensors.

config FAN_THERM_EST
	tristate "Fan driving temp estimator"
	---help---
	Thermal driver that estimates the fan driving temperature based on
	other sensors.

	This enables a virtual sensor that polls other registered thermal
	zone devices for temperature updates.

trysource "../nvidia/drivers/misc/nvs-dfsh/Kconfig.nvidia"
