config TEGRA186_GPC_DMA
	bool "NVIDIA Tegra186 GPC DMA support"
	depends on ARCH_TEGRA_18x_SOC
	select DMA_ENGINE
	help
	  Support for the NVIDIA Tegra186 GPC DMA controller driver. The
	  DMA controller is having multiple DMA channel which can be
	  configured for different peripherals like UART, SPI, etc which
	  are on APB bus.
	  This DMA controller transfers data from memory to peripheral fifo
	  or vice versa. It also supports memory to memory data transfer.

config TEGRA186_ADMA
	bool "NVIDIA Tegra186 ADMA support"
	depends on PLATFORM_TEGRA && ARCH_TEGRA_APE
	depends on TEGRA_APE_AGIC && ARCH_TEGRA_18x_SOC
	select DMA_ENGINE
	help
	  Support for the NVIDIA Tegra186 ADMA controller driver. The
	  DMA controller is having multiple DMA channel and it configured
	  for audio.This DMA controller transfers data from  memory to
	  peripheral fifo or vice versa. It does not support memory to
	  memory data transfer.
