/*
 * tegra186-quill-common.dtsi: Quill common dtsi.
 *
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/types.h>
#include <dt-bindings/gpio/tegra-gpio.h>
/dts-v1/;

/memreserve/ 0x80000000 0x00010000;

#include "tegra186-soc/tegra186-soc-cvm.dtsi"
#include "tegra186-cvm-simple-bus.dtsi"
#include "panel-s-wuxga-8-0.dtsi"
#include "tegra186-platforms/tegra186-quill-eqos.dtsi"
#include "tegra186-hdmi.dtsi"
#include "tegra186-dp.dtsi"
#include "panel-s-edp-uhdtv-15-6.dtsi"

/ {
        compatible = "nvidia,tegra186";

        nvidia,dtbbuildtime = __DATE__, __TIME__;
        #address-cells = <2>;
        #size-cells = <2>;

	serial@3100000 {
		compatible = "nvidia,tegra210-uart", "nvidia,tegra186-hsuart";
		console-port;
		sqa-automation-port;
		status = "okay";
	};

	serial@3110000 {
		compatible = "nvidia,tegra186-hsuart";
		status = "okay";
	};

	serial@3130000 {
		compatible = "nvidia,tegra186-hsuart";
		status = "okay";
	};

	watchdog@30c0000 {
		status = "okay";
	};

	watchdog@30d0000 {
		status = "okay";
	};
	host1x {
		sor@15540000 {
			status = "okay";
			nvidia,hpd-gpio = <&tegra_gpio TEGRA_GPIO(P, 0) 0>;
			panel-s-edp-uhdtv-15-6 {
				nvidia,panel-bl-pwm-gpio = <&tegra_gpio TEGRA_GPIO(U, 5) 0>;
			};
		};
		sor1@15580000 {
			status = "okay";
			nvidia,hpd-gpio = <&tegra_gpio TEGRA_GPIO(P, 1) 1>;
			dp-display {
				nvidia,hpd-gpio = <&tegra_gpio TEGRA_GPIO(P, 1) 1>;
			};
		};
		dpaux@155c0000 {
			status = "okay";
		};
		dpaux@15040000 {
			status = "okay";
		};
	};

	sdhci@3460000 {
		status = "okay";
	};

	sdhci@3440000 {
		status = "disabled";
	};

	sdhci@3420000 {
		status = "disabled";
	};

	sdhci@3400000 {
		cd-gpios = <&tegra_gpio TEGRA_GPIO(P, 6) 0>;
		wp-gpios = <&tegra_gpio TEGRA_GPIO(P, 4) 0>;
		status = "okay";
	};

	host1x {
		dsi {	/* dsi@15300000 */
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-s-wuxga-8-0 {
				nvidia,panel-rst-gpio = <&tegra_gpio TEGRA_GPIO(P, 3) 1>; /* PP3 */
				nvidia,panel-bl-pwm-gpio = <&tegra_gpio TEGRA_GPIO(U, 0) 1>; /* PU0 */
				nvidia,dsi-refresh-rate = <75>;
				disp-default-out {
					nvidia,out-rotation = <180>;
				};
				vrr-settings {
					nvidia,vrr_min_fps = <30>;
					nvidia,frame_len_fluct = <6667>;
				};
				display-timings {
					1200x1920-32-75Hz {
						clock-frequency = <193224000>;
						hactive = <1200>;
						vactive = <1920>;
						hfront-porch = <107>;
						hback-porch = <20>;
						hsync-len = <1>;
						vfront-porch = <12>;
						vback-porch = <7>;
						vsync-len = <1>;
						nvidia,h-ref-to-sync = <1>;
						nvidia,v-ref-to-sync = <11>;
					};
				};
			};
		};
	};

	backlight {
		panel-s-wuxga-8-0-bl {
			pwms = <&tegra_pwm1 0 40161>;
		};
                panel-s-edp-uhdtv-15-6-bl {
                        pwms = <&tegra_pwm3 0 5000000>;
                };
	};

	tegra_pwm1: pwm@3280000 {
		status = "okay";
	};

	tegra_pwm3: pwm@32a0000 {
		status = "okay";
	};

	tegra_pwm4: pwm@c340000 {
		status = "okay";
	};

	i2c4: i2c@3190000 {
		clock-frequency = <100000>;
	};

	external-connection {
		vbus_id_extcon: extcon@1 {
			compatible = "extcon-gpio-states";
			reg = <0x1>;
			extcon-gpio,name = "VBUS";
			extcon-gpio,cable-states = <0x3 0x0
						    0x0 0x2
						    0x1 0x2
						    0x2 0x1>;
			gpios = <&tegra_gpio TEGRA_GPIO(X, 7) 0 &spmic 0 0>;
			extcon-gpio,out-cable-names = "USB", "USB-Host";
			#extcon-cells = <1>;
		};
	};
};
