/ {
	cpus {
		status = "disabled";
	};

	pwm@3280000 {
		status = "disabled";
	};

	pwm@32a0000 {
		status = "disabled";
	};

	pwm@c340000 {
		status = "disabled";
	};

	pmc-iopower {
		status = "disabled";
	};

	host1x {
		vii2c@156c0000 {
			status = "disabled";
		};

		nvdisplay@15210000 {
			status = "disabled";
		};

		sor {
			status = "disabled";
			hdmi-display {
				status = "disabled";
			};

			panel-s-edp-uhdtv-15-6 {
				smartdimmer {
					status = "disabled";
				};
			};
		};
	};

	interrupt-controller@3000000 {
		status = "disabled";
	};

	spi@3270000 {
		status = "disabled";
	};

	tegra-hsp@3c00000 {
		status = "disabled";
	};

	chipid@100000 {
		status = "disabled";
	};

	hda@3510000 {
		status = "disabled";
	};

	roc-flush@e080000 {
		status = "disabled";
	};

	mttcan@c310000 {
		status = "disabled";
	};

	mttcan@c320000 {
		status = "disabled";
	};

	dummy-cool-dev {
		status = "disabled";
	};
};

