config ARCH_TEGRA_18x_SOC_PRIVATE
	bool "Tegra 18x family SOC"
	select CPU_V8
	select ARM_GIC
	select COMMON_CLK
	select SOC_BUS
	select ARCH_REQUIRE_GPIOLIB
	select PINCTRL
	select PINCTRL_TEGRA186
	select ARCH_TEGRA_APE
	default n
	help
	  Support for NVIDIA Tegra 18x family of SoCs
