config ARCH_TEGRA_18x_SOC_PRIVATE
	bool "Tegra 18x family SOC"
	select CPU_V8
	select ARM_GIC
	select COMMON_CLK
	select SOC_BUS
	select TEGRA_NVDISPLAY
	default n
	help
	  Support for NVIDIA Tegra 18x family of SoCs
