/*
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/ {
	sdhci@3460000 {
		compatible = "nvidia,tegra186-sdhci";
		reg = <0x0 0x3460000 0x0 0x210>;
		interrupts = < 0 65 0x04 >;
		bus-width = <8>;
		uhs-mask = <0x60>;
		nvidia,is-emmc;
		clocks = <&tegra_car TEGRA186_CLK_SDMMC4>;
		clock-names = "sdmmc4";
		nvidia,clk-name = "sdmmc4";
		#stream-id-cells = <1>;
		status = "disabled";
	};

	sdhci@3440000 {
		compatible = "nvidia,tegra186-sdhci";
		reg = <0x0 0x3440000 0x0 0x210>;
		interrupts = < 0 64 0x04 >;
		clocks = <&tegra_car TEGRA186_CLK_SDMMC3>;
		clock-names = "sdmmc3";
		nvidia,clk-name = "sdmmc3";
		#stream-id-cells = <1>;
		status = "disabled";
	};

	sdhci@3420000 {
		compatible = "nvidia,tegra186-sdhci";
		reg = <0x0 0x3420000 0x0 0x210>;
		interrupts = < 0 63 0x04 >;
		clocks = <&tegra_car TEGRA186_CLK_SDMMC2>;
		clock-names = "sdmmc2";
		nvidia,clk-name = "sdmmc2";
		#stream-id-cells = <1>;
		status = "disabled";
	};

	sdhci@3400000 {
		compatible = "nvidia,tegra186-sdhci";
		reg = <0x0 0x3400000 0x0 0x210>;
		interrupts = < 0 62 0x04 >;
		clocks = <&tegra_car TEGRA186_CLK_SDMMC1>;
		clock-names = "sdmmc1";
		nvidia,clk-name = "sdmmc1";
		#stream-id-cells = <1>;
		status = "disabled";
	 };
};
