/*
 * Copyright (c) 2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "tegra186-quill-p3310-1000-a00-00-base.dts"
#include "tegra186-modules/tegra186-super-module-e2614-p2597-1000-a00.dtsi"
#include "tegra186-modules/tegra186-df-camera.dtsi"

/ {
	model = "p4570-0120";
	nvidia,dtsfilename = __FILE__;

	dfsh {
		compatible = "nvidia,tegra186-dfsh";
		vdd-1v8-supply = <&spmic_sd2>;
		dfsh,reset-gpio =
			<&tegra_gpio TEGRA_GPIO(R, 5) GPIO_ACTIVE_LOW>;
		dfsh,boot0-gpio =
			<&tegra_gpio TEGRA_GPIO(X, 6) GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	gpio@2200000 {
		camera-control {
			gpio-output-low = <
				TEGRA_GPIO(Q, 5)
				TEGRA_GPIO(X, 6)
				TEGRA_GPIO(R, 5)
				TEGRA_GPIO(X, 5)
				TEGRA_GPIO(R, 1)
				TEGRA_GPIO(L, 6)
				>;
		};
	};

	backlight {
		status = "disabled";
	};

	sdhci@3400000 {
		/delete-property/ wp-gpios;
	};

	fixed-regulators {
		vdd_fan: regulator@13 {
			gpio = <&tegra_gpio TEGRA_GPIO(I, 5) 0>;
			enable-active-high;
		};
                vdd_usb2_5v: regulator@17 {
			gpio = "";
			regulator-always-on;
			regulator-boot-on;
		};
	};

	pwm-fan {
		vdd-fan-supply = <&vdd_fan>;
	};

	i2c@3160000 {
		lp8557-backlight-s-wuxga-8-0@2c {
			status = "disabled";
		};
		ina3221x@40 {
			status = "disabled";
		};
		ina3221x@41 {
			status = "disabled";
		};
		ina3221x@43 {
			status = "disabled";
		};
	};

	xhci@3530000 {
		status = "okay";
		phys = <&tegra_xusb_padctl TEGRA_PADCTL_PHY_UTMI_P(0)>,
			<&tegra_xusb_padctl TEGRA_PADCTL_PHY_UTMI_P(1)>,
			<&tegra_xusb_padctl TEGRA_PADCTL_PHY_UTMI_P(2)>;
		phy-names = "utmi-0", "utmi-1", "utmi-2";
	};

	pinctrl@3520000 {
		tegra_xusb_padctl_pinmux_default: pinmux {
			usb2-micro-AB-2 {
				nvidia,lanes = "otg-2";
				nvidia,function = "xusb";
				nvidia,port-cap = <TEGRA_PADCTL_PORT_HOST_ONLY>;
			};
			/* P4573 does not support usb 3.0 */
			usb3-std-A-port2 {
				status = "disabled";
			};
		};
	};

	plugin-manager {
		fragment-500-xusb-config {
			status = "disbled";
		};
		fragment-e3325-xusb {
			status = "disabled";
		};
		fragment-500-e3325-pcie {
			status = "disabled";
		};
	};
	pinmux@2430000 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinmux_default>;
		pinmux_default: common {
			directdc1_out3_pq5 {
				nvidia,pins = "directdc1_out3_pq5";
				nvidia,function = "rsvd1";
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
				nvidia,enable-input = <TEGRA_PIN_DISABLE>;
			};
			gp_pwm6_pl6 {
				nvidia,pins = "gp_pwm6_pl6";
				nvidia,function = "rsvd1";
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
				nvidia,enable-input = <TEGRA_PIN_DISABLE>;
			};
			qspi_cs_n_pr5 {
				nvidia,pins = "qspi_cs_n_pr5";
				nvidia,function = "rsvd1";
				nvidia,pull = <TEGRA_PIN_PULL_NONE>;
				nvidia,tristate = <TEGRA_PIN_DISABLE>;
				nvidia,enable-input = <TEGRA_PIN_DISABLE>;
			};
		};
	};

	spdif_dit {
		status = "disabled";
	};

	serial@c280000 {
		status = "okay";
	};

	sound {
		status = "disabled";
	};
};
