/*
 * tegra210b01-soc-prod.dtsi: SOC specific DTSI file Prod nodes.
 *
 * Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */
#include "tegra210b01-prods-legacy.dtsi"

/ {
        pinmux@700008d4 {
                prod-settings {
                        #prod-cells = <4>;
                        eqos {
                                status = "disabled";
                                nvidia,prod-boot-init;
                                prod = <0 0x8 0x00000001 0x00000000>;
			};
			i2c0_prod {
				nvidia,prod-boot-init;
				prod = <0 0xD4 0x01F1F000 0x0001F000
					0 0xD8 0x01F1F000 0x0001F000
					1 0xBC 0x00001100 0x00000000
					1 0xC0 0x00001100 0x00000000>;
			};
			i2c1_prod {
				nvidia,prod-boot-init;
				prod = <0 0xDC 0x01F1F000 0x0001F000
					0 0xE0 0x01F1F000 0x0001F000
					1 0xC4 0x00001100 0x00000000
					1 0xC8 0x00001100 0x00000000>;
			};
			i2c2_prod {
				nvidia,prod-boot-init;
				prod = <0 0xE4 0x01F1F000 0x0001F000
					0 0xE8 0x01F1F000 0x0001F000
					1 0xCC 0x00001100 0x00000000
					1 0xD0 0x00001100 0x00000000
					0 0x60 0x01F1F000 0x0001F000
					0 0x64 0x01F1F000 0x0001F000
					1 0xD4 0x00001100 0x00000000
					1 0xD8 0x00001100 0x00000000>;
			};
			i2c4_prod {
				nvidia,prod-boot-init;
				prod = <0 0x198 0x01F1F000 0x0001F000
					0 0x19C 0x01F1F000 0x0001F000
					1 0xDC 0x00001100 0x00000000
					1 0xE0 0x00001100 0x00000000>;
			};
		};
	};

	sdhci@700b0600 {
		prod-settings {
			#prod-cells = <3>;

			prod_c_ds {
				prod = <0x00000100 0x1FFF0000 0x0D090000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0xD
										//				23:16=TAP_VAL   0x9
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
										//				6:0=AUTO_CAL_PU_OFFSET 0x5
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs {
				prod = <0x00000100 0x1FFF0000 0x0D090000	// SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
										//				23:16=TAP_VAL   0x9
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
										//				6:0=AUTO_CAL_PU_OFFSET 0x5
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_ddr52 {
				prod = <0x00000100 0x1FFF0000 0x0D090000 	// SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
										//				23:16=TAP_VAL   0x9
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
										//				6:0=AUTO_CAL_PU_OFFSET 0x5
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs200 {
				prod = <0x00000100 0x1FFF0000 0x0D090000 	// SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
										//				23:16=TAP_VAL   0x9
					0x000001C0 0x0000E000 0x00004000 	// SDMMC_VENDOR_TUNING_CNTRL0_0 15:13=NUM_TUNING_ITERATIONS 0x2
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
										//				6:0=AUTO_CAL_PU_OFFSET 0x5
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs400 {
				prod = <0x00000100 0x1FFF0000 0x0D090000 	// SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
										//				23:16=TAP_VAL   0x9
					0x000001C0 0x0000E000 0x00004000 	// SDMMC_VENDOR_TUNING_CNTRL0_0 15:13=NUM_TUNING_ITERATIONS 0x2
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
										//				6:0=AUTO_CAL_PU_OFFSET 0x5
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};

			prod {
				prod = <
					0x0000100 0x1FFF000E 0xD090028	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL	0xD
									//				23:16=TAP_VAL	0x9
									//				05:05=SDR50_TUNING_OVERRIDE	0x1
									//				03:03=PADPIPE_CLKEN_OVERRIDE	0x1
									// 				02:02=SPI_MODE_CLKEN_OVERRIDE	0x0
									// 				01:01=INPUT_IO_CLK	0x0
					0x000010C 0x00003F00 0x00002800	// SDMMC_VNDR_CAP_OVERRIDES_0	 13:8=DQS_TRIM_VALUE 0x28
					0x00001C0 0x08001FC0 0x8000040	// SDMMC_VENDOR_TUNING_CNTRL0_0	12:06=MUL_M	0x1
									//				27:27=RETUNING_REQ_EN_ON_CRC_ERR_DETECTION	0x1
					0x00001C4 0x00000077 0x0	// SDMMC_VENDOR_TUNING_CNTRL1_0 02:00=STEP_SIZE_SDR50	0x0
									// 				06:04=STEP_SIZE_SDR104_HS200	0x0
					0x0000120 0x00020001 0x00001	// SDMMC_VENDOR_MISC_CNTRL_0	0:0=ERASE_TIMEOUT_LIMIT	0x1
									// 				17:17=SDMMC_SPARE1[1]	0x0
					0x00001F0 0x00080000 0x00080000	// SDMMC_IO_SPARE_0		19:19=SPARE_OUT[3] 0x1
				>;
			};
		};
	};

	sdhci@700b0400 {
		prod-settings {
			#prod-cells = <3>;

			prod_c_ds {
				prod = <0x00000100 0x1FFF0000 0x120B0000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs {
				prod = <0x00000100 0x1FFF0000 0x120B0000 	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr12 {
				prod = <0x00000100 0x1FFF0000 0x120B0000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr25 {
				prod = <0x00000100 0x1FFF0000 0x120B0000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr50 {
				prod = <0x00000100 0x1F000000 0x12000000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   auto-tuned
					0x000001C0 0x0000E000 0x00008000
					0x000001E0 0x0000000F 0x00000007	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr104 {
				prod = <0x00000100 0x1F000000 0x12000000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   auto-tuned
					0x000001C0 0x0000E000 0x00004000
					0x000001E0 0x0000000F 0x00000007	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_ddr52 {
				prod = <0x00000100 0x1FFF0000 0x120B0000	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs200 {
				prod = <0x00000100 0x1F000000 0x12000000 	// SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0x12
										//				23:16=TAP_VAL   auto-tuned
					0x000001C0 0x0000E000 0x00004000 	// SDMMC_VENDOR_TUNING_CNTRL0_0 15:13=NUM_TUNING_ITERATIONS 0x2
					0x000001E0 0x0000000F 0x00000007 	// SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 	// SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
										//				6:0=AUTO_CAL_PU_OFFSET 0x0
										//				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
										//				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};

			prod {
				prod = <
					0x0000100 0x1FFF000E 0x120B0028	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL	0x12
									//				23:16=TAP_VAL	0xB
									//				05:05=SDR50_TUNING_OVERRIDE	0x1
									//				03:03=PADPIPE_CLKEN_OVERRIDE	0x1
									// 				02:02=SPI_MODE_CLKEN_OVERRIDE	0x0
									// 				01:01=INPUT_IO_CLK	0x0
					0x00001C0 0x08001FC0 0x8000040	// SDMMC_VENDOR_TUNING_CNTRL0_0	12:06=MUL_M	0x1
									//				27:27=RETUNING_REQ_EN_ON_CRC_ERR_DETECTION	0x1
					0x00001C4 0x00000077 0x0	// SDMMC_VENDOR_TUNING_CNTRL1_0 02:00=STEP_SIZE_SDR50	0x0
									// 				06:04=STEP_SIZE_SDR104_HS200	0x0
					0x0000120 0x00020001 0x00001	// SDMMC_VENDOR_MISC_CNTRL_0	0:0=ERASE_TIMEOUT_LIMIT	0x1
									// 				17:17=SDMMC_SPARE1[1]	0x0
					0x00001F0 0x00080000 0x00080000	// SDMMC_IO_SPARE_0		19:19=SPARE_OUT[3] 0x1
				>;
			};
		};
	};

	sdhci@700b0200 {
		prod-settings {
			#prod-cells = <3>;

			prod_c_ds {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr12 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr25 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr50 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001C0 0x0000E000 0x00008000
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr104 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001C0 0x0000E000 0x00004000
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_ddr52 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs200 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				23:16=TAP_VAL   0x8
					0x000001C0 0x0000E000 0x00004000
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs400 {
				prod = <0x00000100 0x1FFF0000 0x0D080000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xD
									 //				 23:16=TAP_VAL   0x8
					0x000001C0 0x0000E000 0x00004000
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000505 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x5
									 //				6:0=AUTO_CAL_PU_OFFSET 0x5
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};

			prod {
				prod = <
					0x0000100 0x1FFF000E 0x0D080028	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL	0xD
									//				23:16=TAP_VAL	0x8
									//				05:05=SDR50_TUNING_OVERRIDE	0x1
									//				03:03=PADPIPE_CLKEN_OVERRIDE	0x1
									// 				02:02=SPI_MODE_CLKEN_OVERRIDE	0x0
									// 				01:01=INPUT_IO_CLK	0x0
					0x00001C0 0x08001FC0 0x8000040	// SDMMC_VENDOR_TUNING_CNTRL0_0	12:06=MUL_M	0x1
									//				27:27=RETUNING_REQ_EN_ON_CRC_ERR_DETECTION	0x1
					0x00001C4 0x00000077 0x0	// SDMMC_VENDOR_TUNING_CNTRL1_0 02:00=STEP_SIZE_SDR50	0x0
									// 				06:04=STEP_SIZE_SDR104_HS200	0x0
					0x0000120 0x00020001 0x00001	// SDMMC_VENDOR_MISC_CNTRL_0	0:0=ERASE_TIMEOUT_LIMIT	0x1
									// 				17:17=SDMMC_SPARE1[1]	0x0
					0x00001F0 0x00080000 0x00080000	// SDMMC_IO_SPARE_0		19:19=SPARE_OUT[3] 0x1
				>;
			};
		};
	};

	sdhci@700b0000 {
		prod-settings {
			#prod-cells = <3>;

			prod_c_ds {
				prod = <0x00000100 0x1FFF0000 0x0E0B0000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
									 //				6:0=AUTO_CAL_PU_OFFSET 0x0
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_hs {
				prod = <0x00000100 0x1FFF0000 0x0E0B0000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
									 //				6:0=AUTO_CAL_PU_OFFSET 0x0
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr12 {
				prod = <0x00000100 0x1FFF0000 0x0E0B0000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
									 //				6:0=AUTO_CAL_PU_OFFSET 0x0
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr25 {
				prod = <0x00000100 0x1FFF0000 0x0E0B0000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
									 //				6:0=AUTO_CAL_PU_OFFSET 0x0
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr50 {
				prod = <0x00000100 0x1F000000 0x0E000000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   auto-tuned
					0x000001C0 0x0000E000 0x00008000
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
									 //				6:0=AUTO_CAL_PU_OFFSET 0x0
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_sdr104 {
				prod = <0x00000100 0x1F000000 0x0E000000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   auto-tuned
					0x000001C0 0x0000E000 0x00004000
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000609 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x06
									 //				6:0=AUTO_CAL_PU_OFFSET 0x09
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};
			prod_c_ddr52 {
				prod = <0x00000100 0x1FFF0000 0x0E0B0000 // SDMMC_VENDOR_CLOCK_CNTRL_0  28:24=TRIM_VAL  0xE
									 //				23:16=TAP_VAL   0xB
					0x000001E0 0x0000000F 0x00000007 // SDMMC_SDMEMCOMPPADCTRL_0	3:0=SDMMC2TMC_CFG_SDMEMCOMP_VREF_SEL 0x7
					0x000001E4 0x30077F7F 0x30000000 // SDMMC_AUTO_CAL_CONFIG_0 	14:8=AUTO_CAL_PD_OFFSET 0x0
									 //				6:0=AUTO_CAL_PU_OFFSET 0x0
									 //				28:28=AUTO_CAL_SLW_OVERRIDE 0x1
									 //				29:29=AUTO_CAL_ENABLE 0x1
				>;
			};

			prod {
				prod = <
					0x0000100 0x1FFF000E 0x0E0B0028	// SDMMC_VENDOR_CLOCK_CNTRL_0	28:24=TRIM_VAL	0xE
									//				23:16=TAP_VAL	0xB
									//				05:05=SDR50_TUNING_OVERRIDE	0x1
									//				03:03=PADPIPE_CLKEN_OVERRIDE	0x1
									// 				02:02=SPI_MODE_CLKEN_OVERRIDE	0x0
									// 				01:01=INPUT_IO_CLK	0x0
					0x00001C0 0x08001FC0 0x8000040	// SDMMC_VENDOR_TUNING_CNTRL0_0	12:06=MUL_M	0x1
									//				27:27=RETUNING_REQ_EN_ON_CRC_ERR_DETECTION	0x1
					0x00001C4 0x00000077 0x0	// SDMMC_VENDOR_TUNING_CNTRL1_0 02:00=STEP_SIZE_SDR50	0x0
									// 				06:04=STEP_SIZE_SDR104_HS200	0x0
					0x0000120 0x00020001 0x00001	// SDMMC_VENDOR_MISC_CNTRL_0	0:0=ERASE_TIMEOUT_LIMIT	0x1
									// 				17:17=SDMMC_SPARE1[1]	0x0
					0x00001F0 0x00080000 0x00080000	// SDMMC_IO_SPARE_0		19:19=SPARE_OUT[3] 0x1
				>;
			};
		};
	};

	pcie-controller@1003000 {
		prod-settings {
			#prod-cells = <3>;
			mask-one-style;
			prod_c_pad {
				prod = <
					0x000000C8 0xFFFFFFFF 0xb0b880b8	// PADS_REFCLK_CFG0	31:0			0xb0b880b8
				>;
			};
			prod_c_rp {
				prod = <
					0x00000E80 0x0000003F 0x00000027        // RP_ECTL_1_R1_x	5:0=TX_DRV_AMP_1C	0x27
					0x00000EA0 0x0000003F 0x00000027        // RP_ECTL_1_R2_x	5:0=TX_DRV_AMP_1C	0x27
				>;
			};
		};
	};
};
