config GK20A
	bool "Nvidia GK20A GPU support"
	help
	  Choose this option if you have an SoC with integrated
	  Nvidia GPU IP.

config GK20A_DEFAULT_TIMEOUT
	depends on GK20A
	int "Default timeout for submits"
	default 10000
	help
	  Default timeout for jobs in milliseconds. Set to zero for no timeout.

config GK20A_PMU
	bool "Support GK20A PMU"
	depends on GK20A
	default n
	help
	  Say Y here to enable GK20A PMU features.

choice
	depends on GK20A
	prompt "Enable GK20A frequency scaling"
	default GK20A_PERFMON
	optional
	help
	  Select this entry to enable gk20a scaling

config GK20A_PERFMON
	bool "Use Perfmon"
	help
	  Select this to enable built-in perfmon scaling.
	  The built-in scaling option uses simplistic
	  scaling mechanism (if busy, increase frequency and
	  decrease frequency if idle).

config GK20A_DEVFREQ
	bool "Use Devfreq"
	help
	  Select this to use devfreq based scaling.
	  Devfreq is a common framework that allows using
	  variety of different governors and changing
	  between governors on the fly. By default, no
	  governor is selected.

endchoice

config GK20A_CYCLE_STATS
	bool "Support GK20A GPU CYCLE STATS"
	depends on GK20A
	default y
	help
	  Say Y here to enable the cycle stats debugging features.

config GK20A_PHYS_PAGE_TABLES
	bool "Use physical addressing for gk20a page tables"
	default y if TEGRA_SIMULATION_PLATFORM
	help
	  Use physical addressing for gk20a page tables. If this is off, we
	  use SMMU translation.
