#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	regulators {
		compatible = "simple-bus";
		device_type = "fixed-regulators";
		#address-cells = <1>;
		#size-cells = <0>;

		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		vdd_3v3: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			gpio = <&max77620 3 0>;
			enable-active-high;
			consumers {
				c0 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-udc.0";
				};
				c1 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.0";
				};
				c2 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.1";
				};
				c3 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.2";
				};
				c4 {
					regulator-consumer-supply = "vddio_sd_slot";
					regulator-consumer-device = "sdhci-tegra.3";
				};
				c5 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "1-004d";
				};
				c6 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "0-0069";
				};
				c7 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "0-0077";
				};
				c8 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "0-0010";
				};
				c9 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "0-0048";
				};
				c10 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "0-0044";
				};
				c11 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "0-000d";
				};
				c12 {
					regulator-consumer-supply = "usb_vbus";
					regulator-consumer-device = "tegra-ehci.1";
				};
				c13 {
					regulator-consumer-supply = "usb_vbus1";
					regulator-consumer-device = "tegra-xhci";
				};
				c14 {
					regulator-consumer-supply = "usb_vbus";
					regulator-consumer-device = "tegra-ehci.2";
				};
				c15 {
					regulator-consumer-supply = "usb_vbus2";
					regulator-consumer-device = "tegra-xhci";
				};
			};
		};

		max77620_gpio7: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "max77620-gpio7";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-boot-on;
			gpio = <&max77620 7 0>;
			enable-active-high;
			consumers {
				c0 {
					regulator-consumer-supply = "avdd_lcd";
					regulator-consumer-device = "tegradc.0";
				};
				c1 {
					regulator-consumer-supply = "avdd_dsi_csi";
					regulator-consumer-device = "tegradc.0";
				};
				c2 {
					regulator-consumer-supply = "avdd_dsi_csi";
					regulator-consumer-device = "tegradc.1";
				};
				c3 {
					regulator-consumer-supply = "avdd_dsi_csi";
					regulator-consumer-device = "vi.0";
				};
				c4 {
					regulator-consumer-supply = "avdd_dsi_csi";
					regulator-consumer-device = "vi.1";
				};
			};
		};

		lcd_bl_en: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "lcd-bl-en";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(V, 1) 0>;
			enable-active-high;
			consumers {
				c0 {
					regulator-consumer-supply = "vdd_lcd_bl_en";
				};
			};
		};

		en_vdd_sd: regulator@4 {
			compatible = "regulator-fixed-sync";
			reg = <4>;
			regulator-name = "en-vdd-sd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(Z, 4) 0>;
			enable-active-high;
			vin-supply = <&vdd_3v3>;
			consumers {
				c0 {
					regulator-consumer-supply = "vddio_sd_slot";
					regulator-consumer-device = "sdhci-tegra.2";
				};
			};
		};

		en_vdd_cam: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "en-vdd-cam";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(S, 4) 0>;
			enable-active-high;
		};

		vdd_sys_boost: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "vdd-sys-boost";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			gpio = <&max77620 1 0>;
			enable-active-high;
		};

		vdd_hdmi: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 7) 0>;
			enable-active-high;
			vin-supply = <&vdd_sys_boost>;
			consumers {
				c0 {
					regulator-consumer-supply = "vdd_hdmi_5v0";
					regulator-consumer-device = "tegradc.1";
				};
			};
		};

		en_vdd_cpu_fixed: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "vdd-cpu-fixed";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
			consumers {
				c0 {
					regulator-consumer-supply = "vdd_cpu_fixed";
				};
			};
		};
	};
};
