#include <dt-bindings/mfd/max77620.h>
#include <dt-bindings/regulator/regulator.h>
#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	i2c@7000d000 {
		nvidia,bit-banging-xfer-after-shutdown;

		max8973@1b {
			compatible = "maxim,max8973";
			reg = <0x1b>;
			status = "disabled";
			regulator-name = "vdd-cpu";
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <1400000>;
			regulator-boot-on;
			regulator-always-on;
			maxim,externally-enable;
			maxim,sleep-on-dvs;
			maxim,dvs-default-state = <1>;
			maxim,external-enable-gpio = <&max77620 5 0>;
		};

		max8973@1c {
			compatible = "maxim,max8973";
			reg = <0x1c>;
			status = "disabled";
			regulator-name = "vdd-gpu";
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <1400000>;
			regulator-boot-on;
			regulator-always-on;
			maxim,externally-enable;
			maxim,dvs-default-state = <1>;
			maxim,external-enable-gpio = <&max77620 6 0>;
		};

		max77620: max77620@3c {
			compatible = "maxim,max77620";
			reg = <0x3c>;
			interrupts = <0 86 IRQ_TYPE_NONE>;

			#interrupt-cells = <2>;
                        interrupt-controller;

			gpio-controller;
			#gpio-cells = <2>;

			maxim,enable-clock32k-out;

			maxim,system-pmic-power-off;
			maxim,system-pmic-power-reset;

			maxim,wdt-timeout = <16>;
			maxim,wdt-clear-time = <13>;

			maxim,hot-die-threshold-temp = <110000>;

			pinctrl-names = "default";
			pinctrl-0 = <&max77620_default>;

			max77620_default: pinmux@0 {
				pin_gpio0 {
					pins = "gpio0";
					function = "gpio";
				};

				pin_gpio4 {
					pins = "gpio4";
					function = "32k-out1";
				};

				pin_gpio1_2_5_6_7 {
					pins = "gpio1", "gpio2", "gpio5", "gpio6", "gpio7";
					function = "gpio";
					drive-push-pull = <1>;
				};

				pin_gpio3 {
					pins = "gpio3";
					function = "gpio";
					drive-open-drain = <1>;
				};

			};

			fps {
				#address-cells = <1>;
				#size-cells = <0>;
				fps@0 {
					reg = <0>;
					maxim,fps-enable-input = <FPS_EN_SRC_EN0>;
				};

				fps@1 {
					reg = <1>;
					maxim,fps-enable-input = <FPS_EN_SRC_EN1>;
					maxim,enable-sleep;
				};

				fps@2 {
					reg = <2>;
					maxim,fps-enable-input = <FPS_EN_SRC_EN0>;
				};
			};

			regulators {
				in-ldo0-1-supply = <&max77620_sd2>;
				in-ldo7-8-supply = <&max77620_sd2>;

				max77620_sd0: sd0 {
					regulator-name = "vdd-core";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1400000>;
					regulator-boot-on;
					regulator-always-on;
					maxim,fps-source = <FPS_SRC_1>;
					regulator-init-mode = <REGULATOR_MODE_NORMAL>;
					consumers {
						c1 {
							regulator-consumer-supply = "vdd_core";
						};
					};
				};

				max77620_sd1: sd1 {
					regulator-name = "vddio-ddr";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-init-mode = <REGULATOR_MODE_NORMAL>;
					maxim,fps-source = <FPS_SRC_0>;
				};

				max77620_sd2: sd2 {
					regulator-name = "vdd-pre-reg";
					regulator-min-microvolt = <1350000>;
					regulator-max-microvolt = <1350000>;
					maxim,fps-source = <FPS_SRC_1>;
				};

				max77620_sd3: sd3 {
					regulator-name = "vdd-1v8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,fps-source = <FPS_SRC_0>;
					regulator-init-mode = <REGULATOR_MODE_NORMAL>;
					consumers {
						c1 {
							regulator-consumer-supply = "avdd_hdmi_pll";
							regulator-consumer-device = "tegradc.1";
						};
						c2 {
							regulator-consumer-supply = "vddio_cam";
							regulator-consumer-device = "tegra_camera";
						};
						c3 {
							regulator-consumer-supply = "vddio_cam";
							regulator-consumer-device = "vi";
						};
						c4 {
							regulator-consumer-supply = "vddio_sdmmc";
							regulator-consumer-device = "sdhci-tegra.0";
						};
						c7 {
							regulator-consumer-supply = "avdd_pll_utmip";
							regulator-consumer-device = "tegra-ehci.0";
						};
						c8 {
							regulator-consumer-supply = "avdd_pll_utmip";
							regulator-consumer-device = "tegra-ehci.1";
						};
						c9 {
							regulator-consumer-supply = "avdd_pll_utmip";
							regulator-consumer-device = "tegra-ehci.2";
						};
						c10 {
							regulator-consumer-supply = "avdd_pll_utmip";
							regulator-consumer-device = "tegra-xhci";
						};
						c11 {
							regulator-consumer-supply = "vddio_audio";
						};
						c13 {
							regulator-consumer-supply = "vddio_uart";
						};
						c15 {
							regulator-consumer-supply = "vddio_sdmmc";
							regulator-consumer-device = "sdhci-tegra.3";
						};
						c17 {
							regulator-consumer-supply = "dvdd_lcd";
							regulator-consumer-device = "tegradc.0";
						};
						c18 {
							regulator-consumer-supply = "vdd";
							regulator-consumer-device = "0-004c";
						};
						c19 {
							regulator-consumer-supply = "vlogic";
							regulator-consumer-device = "0-0069";
						};
						c20 {
							regulator-consumer-supply = "vid";
							regulator-consumer-device = "0-000d";
						};
						c21 {
							regulator-consumer-supply = "vddio";
							regulator-consumer-device = "0-0077";
						};
					};
				};

				max77620_ldo0: ldo0 {
					regulator-name = "avdd-sys";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,fps-source = <FPS_SRC_NONE>;
					consumers {
						c0 {
							regulator-consumer-supply = "vddio_hsic";
							regulator-consumer-device = "tegra-ehci.1";
						};
						c1 {
							regulator-consumer-supply = "vddio_hsic";
							regulator-consumer-device = "tegra-ehci.2";
						};
						c2 {
							regulator-consumer-supply = "vddio_hsic";
							regulator-consumer-device = "tegra-xhci";
						};
						c3 {
							regulator-consumer-supply = "avdd_hsic_com";
						};
						c4 {
							regulator-consumer-supply = "avdd_hsic_mdm";
						};
					};
				};

				max77620_ldo1: ldo1 {
					regulator-name = "vdd-pex";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					maxim,fps-source = <FPS_SRC_NONE>;
				};

				max77620_ldo2: ldo2 {
					regulator-name = "vddio-sdmmc3";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3300000>;
					maxim,fps-source = <FPS_SRC_NONE>;
					consumers {
						c0 {
							regulator-consumer-supply = "vddio_sdmmc";
							regulator-consumer-device = "sdhci-tegra.2";
						};
					};
				};

				max77620_ldo3: ldo3 {
					regulator-name = "vdd-cam-hv";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					maxim,fps-source = <FPS_SRC_NONE>;
				};

				max77620_ldo4: ldo4 {
					regulator-name = "vdd-rtc";
					regulator-min-microvolt = <1250000>;
					regulator-max-microvolt = <1250000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,fps-source = <FPS_SRC_0>;
					consumers {
						c0 {
							regulator-consumer-supply = "vdd_rtc";
						};
					};
				};

				max77620_ldo5: ldo5 {
					regulator-name = "avdd-ts-hv";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					maxim,fps-source = <FPS_SRC_NONE>;
					consumers {
						c0 {
							regulator-consumer-supply = "avdd";
							regulator-consumer-device = "spi3.0";
						};
					};
				};

				max77620_ldo6: ldo6 {
					regulator-name = "vdd-ts";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,fps-source = <FPS_SRC_NONE>;
					consumers {
						c0 {
							regulator-consumer-supply = "dvdd";
							regulator-consumer-device = "spi3.0";
						};
					};
				};

				max77620_ldo7: ldo7 {
					regulator-name = "vdd-gen-pll-edp";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,fps-source = <FPS_SRC_1>;
				};

				max77620_ldo8: ldo8 {
					regulator-name = "vdd-hdmi-dp";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					maxim,fps-source = <FPS_SRC_NONE>;
					consumers {
						c0 {
							regulator-consumer-supply = "avdd_hdmi";
							regulator-consumer-device = "tegradc.1";
						};
					};
				};
			};
		};
	};
	/* Populate fuse supply */
	efuse@7000f800 {
		vpp_fuse-supply = <&max77620_sd3>;
	};

	i2c@7000c500 {
		bq2419x: battery-charger@6b {
			compatible = "ti,bq2419x";
			reg = <0x6b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(Z, 0) 0x0>;
			#extcon-cells = <1>;

			battery_charger: charger {
				status = "disabled";
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000000>;
				ti,watchdog-timeout = <40>;
				ti,rtc-alarm-time = <3600>;
				ti,auto-recharge-time = <1800>;
				ti,disbale-suspend-during-charging;
				ti,charge-voltage-limit-millivolt = <4200>;
				ti,charge-term-current-limit-milliamp = <260>;
				ti,temp-range = <10 15 60>;
				ti,charge-current-limit = <1024 2048 5200>;
				ti,thermal-zone = "battery";
				ti,temp-polling-time-sec = <5>;
				ti,ir-comp-voltage-millivolt = <1>;
				ti,ir-comp-resister-ohm = <70>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_bat_chg";
						regulator-consumer-device = "tegra-udc.0";
					};
				};
			};

			usb0_vbus: vbus {
				regulator-name = "vbus_regulator";
				ti,otg-iusb-gpio = <&gpio TEGRA_GPIO(CC, 5) 0>;
				consumers {
					c1 {
						regulator-consumer-supply = "usb_vbus";
						regulator-consumer-device = "tegra-ehci.0";
					};
				};
			};
		};

		battery-gauge@55 {
			status = "disabled";
			compatible = "ti,bq27441";
			reg = <0x55>;
			ti,design-capacity = <7800>;
			ti,design-energy = <28314>;
			ti,taper-rate = <167>;
			ti,terminate-voltage = <3150>;
			ti,v-at-chg-term = <4200>;
			ti,tz-name = "battery-temp";
		};
	};


	power-detect {
		pwrdet-sdmmc1-supply = <&max77620_sd3>;
		pwrdet-sdmmc4-supply = <&max77620_sd3>;
		pwrdet-audio-supply = <&max77620_sd3>;
		pwrdet-uart-supply = <&max77620_sd3>;
		pwrdet-sdmmc3-supply = <&max77620_ldo2>;
	};
};
