
# Copyright (c) 2012-2017, NVIDIA CORPORATION.  All rights reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms and conditions of the GNU General Public License,
# version 2, as published by the Free Software Foundation.
#
# This program is distributed in the hope it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

comment "NVIDIA Tegra options"

config TEGRA_WAKEUP_MONITOR
	bool "Enable tegra wakeup monitor"
	depends on PM_SLEEP && ANDROID_INTF_ALARM_DEV
	help
	  This option enables support for the monitor of tegra wakeups, it will
	  send out wakeup source and uevents which indicate suspend_prepare and
	  post_suspend.

config TEGRA3_PM
	bool "Tegra3 power and cluster management"
	default y
	help
	  Enable Tegra3 power and cluster management.

config TEGRA_POWERGATE
	bool "Tegra powergate support"
	default y
	help
	  Enable Tegra powergate support.

config TEGRA_BOND_OUT
	bool "Tegra bond out support"
	default n
	help
	  Enable Tegra bond out support

config TEGRA_BOOTLOADER_DEBUG
	tristate "Creates sys-fs interface dumping registers read by bootloader"
	default n
	select TEGRA_BOOTLOADER_DEBUG_INIT
	help
	  When enabled, tegra_bootloader_verify_regs sys-fs is created.

config TEGRA_BOOTLOADER_DEBUG_INIT
	bool
	depends on TEGRA_BOOTLOADER_DEBUG

config TEGRA_BPMP_SCLK_SKIP
	bool "Let bpmp firmware own the sclk skipper h/w"
	depends on TEGRA_BPMP && ARCH_TEGRA_21x_SOC
	default n
	help
	  When enabled, sclk skipper set rate will be delegated to bpmp firmware

config TEGRA_CBUS_CAN_USE_SKIPPERS
	bool "Allow to use clock skippers on cbus users"
	depends on ARCH_TEGRA_21x_SOC
	default n
	help
	  When enabled, clock skippers for cbus modules can be used to provide
	  fine granularity clock rate control

config TEGRA_CENTRAL_ACTMON
	bool "Tegra Activity Monitor"
	depends on ARCH_TEGRA
	default n
	help
	  Actmon is a hardware block that can be used to track the activity of
	  certain hardware units. It can boost EMC clock depending
	  on the memory trafic among various client. It is called central actmon
	  as it monitors central activity for example MC activity. HW fabric of
	  central and unit actmon is different. If unsure, say Y here.

config TEGRA_IVC
	bool "Tegra IVC protocol support"
	default n
	help
	  Enable the Tegra IVC library, which implements a lockless, shared-
	  memory queue.

config TEGRA_FIQ_DEBUGGER
	bool "Enable the FIQ serial debugger on Tegra"
	default n
	select FIQ_DEBUGGER
	select FIQ_GLUE
	help
	  Enables the FIQ serial debugger on Tegra

config TEGRA_NVDUMPER
	bool "Enable nvdumper"
	depends on ARCH_TEGRA
	default n
	help
	  This is debug feature to dump whole memory when system crashes.

config TEGRA_13x_SERROR
	tristate "Tegra13 SError handler"
	depends on ARCH_TEGRA_13x_SOC
	select DENVER_MCA
	help
	  The Tegra13 SError handler. This handles Denver SErrors.

config TEGRA_MODS_OF
	bool "Allow to dynamically change DTB at runtime to insert 'mods' node"
	select OF_DYNAMIC
	select OF_RESOLVE
	default n
	help
	  In the Common Clock Framework (starting T18x), platform drivers can
	  use DTB to acsess clocks. Mods clock driver needs to insert 'mods'
	  node in live dtb at driver initialisation and add all clocks that it
	  needs to that node. The 2 OF_ configs help to do that.

config TEGRA_THERMAL_THROTTLE
       bool "Enable throttling of CPU speed on overtemp"
       depends on CPU_FREQ
       depends on THERMAL
       help
         Also requires enabling a temperature sensor such as NCT1008.

config TEGRA_FIRMWARES_CLASS
	bool
	default n

config TEGRA_FIRMWARES_INVENTORY
	tristate "Tegra firmwares inventory"
	select TEGRA_FIRMWARES_CLASS
	default y
	help
	  Register version readers for firmwares

config TEGRA_HSP
	bool "Enable Tegra Hardware Synchronization Primitives driver"
	default y

config POWERGATE_TEGRA_BPMP
	def_bool TEGRA_BPMP

config TEGRA_HV_XHCI_DEBUG
	bool "Enable Tegra Hypervisor XHCI Server Debug"
	depends on TEGRA_HV_MANAGER
	default n
	help
	  Enable Tegra XHCI Server debugging when runs in virtualization.

trysource "../nvidia/drivers/platform/tegra/Kconfig.nvidia"
trysource "../nvidia/drivers/platform/tegra/nvadsp/Kconfig.nvidia"
