/*
 * tegra186-sunstreaker-e3340-0000-a00-plugin-manager.dtsi: E3340 plugin mngr
 *
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/ {
	eeprom-manager {
		data-size = <0x100>;
		boardid-with-revision = <3301>;
		bus@0 {
			i2c-bus = <&gen8_i2c>;
			word-address-1-byte-slave-addresses = <0x50 0x57>;
		};
		bus@1 {
			i2c-bus = <&gen2_i2c>;
			word-address-1-byte-slave-addresses = <0x51>;
		};
		bus@2 {
			i2c-bus = <&gen1_i2c>;
			word-address-1-byte-slave-addresses = <0x50>;
		};
	};

	plugin-manager {
		fragement@0 {
			odm-data = "enable-tegra-wdt";
			override@0 {
				target = <&tegra_arm_wdt>;
				_overlay_ {
					status = "okay";
				};
			};
		};

		fragement@1 {
			odm-data = "disable-tegra-wdt";
			override@0 {
				target = <&tegra_pmc>;
				_overlay_ {
					nvidia,enable-halt-in-fiq;
				};
			};
		};

		fragement@2 {
			odm-data = "enable-pmic-wdt";
			override@0 {
				target = <&spmic_wdt>;
				_overlay_ {
					status = "okay";
				};
			};
		};

		fragement@3 {
			odm-data = "enable-denver-wdt";
			override@0 {
				target = <&tegra_denver_wdt>;
				_overlay_ {
					status = "okay";
				};
			};
		};

		fragement@4 {
			odm-data = "enable-tegra-wdt",
					"enable-pmic-wdt",
					"enable-denver-wdt";
			override@0 {
				target = <&soft_wdt>;
				_overlay_ {
					status = "disabled";
				};
			};
		};

		fragement@6 {
			odm-data = "mods-build";
			override@0 {
				target = <&xusb_mbox>;
				_overlay_ {
					status = "disabled";
				};
			};
			override@1 {
				target = <&tegra_padctl_uphy>;
				_overlay_ {
					delete-target-property = "mboxes";
				};
			};
		};

		fragement@7 {
			odm-data = "enable-high-speed-uart";
			override@0 {
				target = <&uarta>;
				_overlay_ {
					compatible = "nvidia,tegra186-hsuart";
				};
			};
		};
	};
};

