/*
 * tegra186-sunstreaker-e3340-1099-a00-00-base.dts Sunstreaker-SLT A00 Board
 *
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "tegra186-platforms/tegra186-sunstreaker-common-e3340-0000-a00.dtsi"
#include "tegra186-platforms/tegra186-sunstreaker-slt-power-tree-e3340-1099-a00-00.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,boardids = "3340:1099:A0";
	nvidia,proc-boardid = "3340:1099:A0";

	i2c@3160000 {
		i2cmux@71 {
			vcc-supply = <&spmic_sd3>;
		};
	};
};
