/*
 * tegra186-priv-vcm31-p2382-010-a01-00-base-vm.dts: P2382(sunstreaker) base dts
 * file
 *
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "tegra186-platforms/tegra186-vcm31-p2382-common.dtsi"
#include "t186-status-override/tegra186-vcm31-p2382-0010-a01-dt-status-override.dtsi"
#include "tegra186-platforms/tegra186-vcm31-p2382-disp.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,boardids = "p2382:0010:A01";
	nvidia,proc-boardid = "p2382:0010:A01";

	tegra_hv: hyp {
		compatible = "nvidia,tegra-hv";
		status = "okay";
	};

	chosen {
		nvidia,tegra-hypervisor-mode;
	};

	bpmp {
		compatible = "nvidia,tegra186-bpmp-hv";
		ivc_queue = <&tegra_hv 0 14>;
	};

	bpmp_i2c {
                spmic: spmic@3c {
			/delete-property/ maxim,enable-sleep;
			/delete-node/ backup-battery;
		};
	};

	aon@c160000 {
		status = "disabled";
	};

	cpuidle {
		compatible = "nvidia,tegra18x-cpuidle";
		status = "disabled";
	};

	i2c@3160000 {
		tegra_nct72: onsemi,nct72@4c {
			status = "okay";
			/delete-property/ interrupt-parent;
			/delete-property/ interrupts;
			/delete-property/ temp-alert-gpio;
		};
	};

	mc_sid@2c00000 {
		nvidia,by-pass-smmu-streamid = <0x7e>;
		status = "okay";
	};

	pmc@c370000 {
		status = "disabled";
	};

	tegra_hv_wdt {
		compatible = "nvidia,tegra-hv-wdt";
		status = "okay";
		ivc = <&tegra_hv 32>;
	};

	host1x: host1x {
		reg = <0x0 0x13e10000 0x0 0x00010000>;
		interrupts = <0 265 0x04
					0 263 0x04>;
		nvidia,vmid = <1>;

		nvidia,ch-base = <0>;
		nvidia,nb-channels = <63>;

		nvidia,nb-hw-pts = <576>;
		nvidia,pts-base = <0>;
		nvidia,nb-pts = <576>;
	};

	generic-system-config {
		status = "dislabled";
	};

	dma@2600000 {
		dma-channels = <32>;
		nvidia,start-dma-channel-index = <0>;
		nvidia,stream-id = <TEGRA_SID_GPCDMA_0>;
		status = "okay";
	};

	intc: interrupt-controller@3881000 {
		reg = <0x0 0x03881000 0x0 0x00001000
		       0x0 0x03892000 0x0 0x00002000>;
	};

	gp10b {
		status = "disabled";
	};

	vgpu {
		compatible = "nvidia,tegra186-gp10b-vgpu", "nvidia,tegra124-gk20a-vgpu";
		reg = <0x0 0x18000000 0x0 0x1000000>;
		nvidia,host1x = <&host1x>;
		ivc-queue3 = <&tegra_hv 30>;
		ivc-queue4 = <&tegra_hv 31>;
		mempool3 = <&tegra_hv 0>;
	};

	thermal-zones {
		BCPU-therm {
			status = "disabled";
		};

		MCPU-therm {
			status = "disabled";
		};

		GPU-therm {
			status = "disabled";
		};

		PLL-therm {
			status = "disabled";
		};

		AO-therm {
			status = "disabled";
		};

		Tboard_tegra {
			status = "disabled";
		};

		Tdiode_tegra {
			status = "disabled";
		};
	};
};
