/*
 * arch/arm64/boot/dts/tegra186.dtsi
 *
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

/ {
	compatible = "nvidia,tegra186";
	interrupt-parent = <&intc>;
	#address-cells = <2>;
	#size-cells = <2>;

	host1x {
		compatible = "nvidia,tegra186-host1x", "simple-bus";
		reg = <0x0 0x3de00000 0x0 0x00040000>;
		interrupts = <0 65 0x04   /* mpcore syncpt */
			      0 67 0x04>; /* mpcore general */

		#address-cells = <2>;
		#size-cells = <2>;

		ranges;

		vi {
			compatible = "nvidia,tegra186-vi";
			reg = <0x0 0x54700000 0x0 0x00100000>;
			interrupts = <0 69 0x04>;
		};

		isp@54600000 {
			compatible = "nvidia,tegra186-isp";
			reg = <0x0 0x54600000 0x0 0x00040000>;
			interrupts = <0 71 0x04>;
		};

		isp@54680000 {
			compatible = "nvidia,tegra186-isp";
			reg = <0x0 0x54680000 0x0 0x00040000>;
			interrupts = <0 72 0x04>;
		};

		vii2c {
			compatible = "nvidia,tegra186-vii2c";
			reg = <0x0 0x546c0000 0x0 0x00040000>;
		};

		nvdisplay {
			compatible = "nvidia,tegra186-dc";
			reg = <0x0 0x54200000 0x0 0x00080000>;
			interrupts = <0 73 0x04
				      0 74 0x04>;
		};

		dsi {
			compatible = "nvidia,tegra186-dsi";
			reg = <0x0 0x54300000 0x0 0x00040000>,
			      <0x0 0x54400000 0x0 0x00040000>;
		};

		vic {
			compatible = "nvidia,tegra186-vic";
			reg = <0x0 0x54340000 0x0 0x00040000>;
		};

		nvenc {
			compatible = "nvidia,tegra186-nvenc";
			reg = <0x0 0x544c0000 0x0 0x00040000>;
		};

		nvdec {
			compatible = "nvidia,tegra186-nvdec";
			reg = <0x0 0x54480000 0x0 0x00040000>;
		};

		nvjpg {
			compatible = "nvidia,tegra186-nvjpg";
			reg = <0x0 0x54380000 0x0 0x00040000>;
		};

		tsec {
			compatible = "nvidia,tegra186-tsec";
			reg = <0x0 0x54500000 0x0 0x00040000>;
		};

		tsecb {
			compatible = "nvidia,tegra186-tsec";
			reg = <0x0 0x54100000 0x0 0x00040000>;
		};

	};

	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_off = <0x84000002>;
		cpu_on = <0xC4000003>;
		cpu_suspend = <0xC4000001>;
	};

	intc: interrupt-controller {
		compatible = "arm,cortex-a15-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0x0 0x50041000 0x0 0x1000
		       0x0 0x50042000 0x0 0x0100>;
	};

	lic: interrupt-controller@60004000 {
		compatible = "nvidia,tegra-gic";
		interrupt-controller;
		reg = <0x0 0x60004000 0x0 0x40>,
		      <0x0 0x60004100 0x0 0x40>,
		      <0x0 0x60004200 0x0 0x40>,
		      <0x0 0x60004300 0x0 0x40>,
		      <0x0 0x60004400 0x0 0x40>,
		      <0x0 0x60004500 0x0 0x40>;
	};

	timer@60005000 {
		compatible = "nvidia,tegra210-timer";
		reg = <0x0 0x60005000 0x0 0x400>;
		interrupts = <0 176 4>,
			     <0 177 4>,
			     <0 178 4>,
			     <0 179 4>;
		clock-frequency = <38400000>;
	};

        smmu {
                compatible = "arm,smmu-v2";
                reg = <0x0 0x32000000 0x0 0xffffff>; /* 16MB */
                #global-interrupts = <2>;
                interrupts = <0 32 4>,
                             <0 33 4>,
                             <0 34 4>, /* This is the first context interrupt */
                             <0 35 4>,
                             <0 36 4>,
                             <0 37 4>;
        };

	uarta: serial@70006000 {
		compatible = "nvidia,tegra210-uart";
		reg = <0x0 0x70006000 0x0 0x40>;
		reg-shift = <2>;
		interrupts = <0 36 0x04>;
		clock-frequency = <408000000>;
		nvidia,memory-clients = <14>;
	};

	sdhci@700b0600 {
		compatible = "nvidia,tegra210-sdhci";
		reg = <0x0 0x700b0600 0x0 0x200>;
		interrupts = < 0 31 0x04 >;
		status = "disabled";
	};

	sdhci@700b0400 {
		compatible = "nvidia,tegra210-sdhci";
		reg = <0x0 0x700b0400 0x0 0x200>;
		interrupts = < 0 19 0x04 >;
		status = "disabled";
	};

	sdhci@700b0200 {
		compatible = "nvidia,tegra210-sdhci";
		reg = <0x0 0x700b0200 0x0 0x200>;
		interrupts = < 0 15 0x04 >;
		status = "disabled";
	};

	sdhci@700b0000 {
		compatible = "nvidia,tegra210-sdhci";
		reg = <0x0 0x700b0000 0x0 0x200>;
		interrupts = < 0 14 0x04 >;
		status = "disabled";
	};
};
